<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Autor</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-title>Diego L.R.</ion-title>
    <ion-button href="https://github.com/dereon23" color="dark" class="github-logo">
      <ion-icon slot="icon-only" name="logo-github" color="light"></ion-icon>
    </ion-button>
    <ion-img slot="start"
      src="https://avatars.githubusercontent.com/u/115071403?s=400&v=4"
      alt="github profile picture">
    </ion-img>
  </ion-toolbar>
</ion-content>
