.container{
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.task{
   width: 300px;
   height: 150px;
}

div{
   width: inherit;
   height: 50px;
}

.tick{
   width: 20px;
   height: 20px;
   padding: 5px;
   border-radius: 20%;
   position: absolute;
   right: 10px;
   top: 10px;
}

.tick:hover{
   filter: saturate(0%);
   transition-duration: 200ms;
}


