<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="container">
    <ion-card class="task" *ngFor="let task of tasks">
      <div>
        <ion-icon class="tick" color="light"
        [name]="task.isCompleted ? 'checkmark-outline' : 'close-outline'"
        [style.backgroundColor]="task.isCompleted ? 'green' : 'red'">
        </ion-icon>
      </div>
      <ion-label>
        <ion-title>{{ task.name }}</ion-title>
        <p>Fecha límite: {{ task.dueDate }}</p>
        <p>{{ task.description }}</p>
        <ion-button [routerLink]="['/task-details', task.taskId]">Ver detalles</ion-button>
      </ion-label>
    </ion-card>
  </ion-list>
</ion-content>

